* {
    margin: 10px;
    text-align: center;
}


#photo {
    height: 200px;
}

/* .container-1 {
    text-align: center;
} */

.container-1-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.container-1-list li {
    float: left;
}
.container-1-list li div {
    width: 300px;
}

#input-container {
    clear: left;
    padding-top: 50px;
    text-align: center;
}

#guess-text {
    font-size: 40px;
}